
@{
    ViewBag.Title = "CheckedOut";
}

<h2>CheckedOut</h2>

<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody id="CheckOutCart">
                            <tr></tr>
                            @*  <tr>
                                     <td>
                                         <figure class="itemside">
                                             <div class="aside"><img src="images/items/1.jpg" class="img-sm"></div>
                                             <figcaption class="info">
                                                 <a href="#" class="title text-dark">Some name of item goes here nice</a>
                                                 <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
                                             </figcaption>
                                         </figure>
                                     </td>
                                     <td>
                                         <select class="form-control">
                                             <option>1</option>
                                             <option>2</option>
                                             <option>3</option>
                                             <option>4</option>
                                         </select>
                                     </td>
                                     <td>
                                         <div class="price-wrap">
                                             <var class="price">$1156.00</var>
                                             <small class="text-muted"> $315.20 each </small>
                                         </div> <!-- price-wrap .// -->
                                     </td>
                                     <td class="text-right">
                                         <a data-original-title="Save to Wishlist" title="" href="#" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                         <a href="#" class="btn btn-light"> Remove</a>
                                     </td>
                                 </tr>
                                <tr>
                                     <td>
                                         <figure class="itemside">
                                             <div class="aside"><img src="images/items/2.jpg" class="img-sm"></div>
                                             <figcaption class="info">
                                                 <a href="#" class="title text-dark">Product name  goes here nice</a>
                                                 <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
                                             </figcaption>
                                         </figure>
                                     </td>
                                     <td>
                                         <select class="form-control">
                                             <option>1</option>
                                             <option>2</option>
                                             <option>3</option>
                                             <option>4</option>
                                         </select>
                                     </td>
                                     <td>
                                         <div class="price-wrap">
                                             <var class="price">$149.97</var>
                                             <small class="text-muted"> $75.00 each </small>
                                         </div> <!-- price-wrap .// -->
                                     </td>
                                     <td class="text-right">
                                         <a data-original-title="Save to Wishlist" title="" href="#" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                         <a href="#" class="btn btn-light btn-round"> Remove</a>
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <figure class="itemside">
                                             <div class="aside"><img src="images/items/3.jpg" class="img-sm"></div>
                                             <figcaption class="info">
                                                 <a href="#" class="title text-dark">Another name of some product goes just here as a demo text </a>
                                                 <p class="small text-muted">Size: XL, Color: blue,  Brand: Tissot</p>
                                             </figcaption>
                                         </figure>
                                     </td>
                                     <td>
                                         <select class="form-control">
                                             <option>1</option>
                                             <option>2</option>
                                             <option>3</option>
                                         </select>
                                     </td>
                                     <td>
                                         <div class="price-wrap">
                                             <var class="price">$98.00</var>
                                             <small class="text-muted"> $578.00 each</small>
                                         </div> <!-- price-wrap .// -->
                                     </td>
                                     <td class="text-right">
                                         <a data-original-title="Save to Wishlist" title="" href="#" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                         <a href="#" class="btn btn-light btn-round"> Remove</a>
                                     </td>
                                 </tr>*@
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
                        <a href="~/Home/Products" class="btn btn-light"><i class="fa fa-chevron-left"></i> Continue shopping </a>
                    </div>
                </div> <!-- card.// -->



            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Coupon code">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">Apply</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right" id="totalPrice"></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right">0.0</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong id="finalTotal"></strong></dd>
                        </dl>
                        <hr> 
                        <p class="text-center mb-3">
                            <img src="images/misc/payments.png" height="26">
                        </p>

                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        getCartDetails();
        getCartCount();
    });

    function getCartDetails() {
        var cart = new Object();
        cart.cust_id = 5;
        var total = 0.0;
        $.ajax({
            async: true,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:50235/Home/getCartDetails',
            data: JSON.stringify(cart),

            processing: true,
            serverSide: true,
            success: function (data) {
                var record = JSON.parse(data.data);
                 
                $.each(record, function (i, key) {
                    $('#CheckOutCart tr:last').after('<tr><td><figure class="itemside"> <div class="aside"><img src="http://serv.vrad.in/img/ecom_olaala/' + key.product.img_url + '" class="img-sm"></div><figcaption class="info">  <a href="#" class="title text-dark">' + key.product.name_en + '</a> </figcaption></figure></td><td><div class="input-group mb-3 input-spinner"> <div class="input-group-prepend"><button class="btn btn-light" type="button" id="button-plus" onclick="OnplusChange(' + key.prod_id + ',' + key.product.unit_price + ')"> + </button></div><input type="text" class="form-control" value=' + key.quantity + ' id="qty' + key.prod_id + '"><div class="input-group-append"><button class="btn btn-light" type="button" id="button-minus" onclick="OnminusChange(' + key.prod_id + ',' + key.product.unit_price + ')"> &minus; </button> </div></div></td><td> <var class="price" id="price' + key.prod_id + '">' + key.quantity * key.product.unit_price + ' </var> <td class="text-right"><a href="#" class="btn btn-light" onclick=RemoveCartDetails(' + key.cart_id + ')>Remove</a><a data-original-title="Save to Wishlist" title="" href="#" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a></td></tr>');
                    total = total + parseFloat(key.product.unit_price * key.quantity);
                })
                $('#finalTotal').text(total);
                $('#totalPrice').text(total);

            }
        })
    }
    function OnplusChange(prodid, unitprice) {
        var quantityid = '#qty'   +   prodid;
        var priceid =    '#price' +   prodid;

        cartqty = parseFloat($(quantityid).val()) + 1;
        

        $(quantityid).val(cartqty);
        var price = cartqty * unitprice;
        $(priceid).text(price)
    }

    function OnminusChange(prodid,unitprice) {
        var quantityid = '#qty' + prodid;
        var priceid = '#price' + prodid;


        if ($(quantityid).val() > 1) {
            cartqty = parseFloat($(quantityid).val()) - 1;
            $(quantityid).val(cartqty);

            var price = cartqty * unitprice;
            $(priceid).text(price)
        }
    }

    function RemoveCartDetails(cartId) {
        var cart = new Object();
        cart.cust_id = 5;
        cart.cart_id = cartId;

        $.ajax({
            async: true,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:50235/Home/RemoveCartDetails',
            data: JSON.stringify(cart),

            processing: true,
            serverSide: true,
            success: function (data) {
                location.reload();
            }
        })
    }
</script>