
@{
    ViewBag.Title = "ShowProductDetailbyId";
}

<style>
    * {
        box-sizing: border-box;
    }

    .img-zoom-container {
        position: relative;
    }

    .img-zoom-lens {
        position: absolute;
        border: 1px solid #d4d4d4;
        /*set the size of the lens:*/
        width: 40px;
        height: 40px;
    }

    .img-zoom-result {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 300px;
        height: 300px;
    }
</style>
<script>
function imageZoom(imgID, resultID) {
  var img, lens, result, cx, cy;
  img = document.getElementById(imgID);
  result = document.getElementById(resultID);
  /*create lens:*/
  lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");
  /*insert lens:*/
  img.parentElement.insertBefore(lens, img);
  /*calculate the ratio between result DIV and lens:*/
  cx = result.offsetWidth / lens.offsetWidth;
  cy = result.offsetHeight / lens.offsetHeight;
  /*set background properties for the result DIV:*/
  result.style.backgroundImage = "url('" + img.src + "')";
  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
  /*execute a function when someone moves the cursor over the image, or the lens:*/
  lens.addEventListener("mousemove", moveLens);
  img.addEventListener("mousemove", moveLens);
  /*and also for touch screens:*/
  lens.addEventListener("touchmove", moveLens);
  img.addEventListener("touchmove", moveLens);
  function moveLens(e) {
    var pos, x, y;
    /*prevent any other actions that may occur when moving over the image:*/
    e.preventDefault();
    /*get the cursor's x and y positions:*/
    pos = getCursorPos(e);
    /*calculate the position of the lens:*/
    x = pos.x - (lens.offsetWidth / 2);
    y = pos.y - (lens.offsetHeight / 2);
    /*prevent the lens from being positioned outside the image:*/
    if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
    if (x < 0) {x = 0;}
    if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
    if (y < 0) {y = 0;}
    /*set the position of the lens:*/
    lens.style.left = x + "px";
    lens.style.top = y + "px";
    /*display what the lens "sees":*/
    result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /*get the x and y positions of the image:*/
    a = img.getBoundingClientRect();
    /*calculate the cursor's x and y coordinates, relative to the image:*/
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /*consider any page scrolling:*/
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}



</script>




<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Category name</a></li>
            <li class="breadcrumb-item"><a href="#">Sub category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Items</li>
        </ol>
    </div>
</section>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">
        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6 img-zoom-container">
                <div id="prodDetImg">
                </div>
                <div id="myresult" class="img-zoom-result"></div>
                
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">
                    <h2 class="title mt-3" id="prod_name"></h2>
                    <!--  <div class="rating-wrap my-3">
                         <ul class="rating-stars">
                             <li style="width:80%" class="stars-active">
                                 <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                             </li>
                             <li>
                                 <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                             </li>
                         </ul>
                         <small class="label-rating text-muted">132 reviews</small>
                         <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                     </div> rating-wrap.// -->
                    <div class="mb-3">
                        <var class="price h4" id="prod_price"></var> <var class="price h4"> OMR</var>
                        <span class="text-muted"></span>
                    </div> <!-- price-detail-wrap .// -->

                    <p id="prod_discrep">
                    </p>

                    <dl class="row">
                        <dt class="col-sm-3"></dt>
                        <dd class="col-sm-9"><a href="#">Great textile Ltd.</a></dd>
                        <dt class="col-sm-3">Select Size</dt>
                        <dd class="col-sm-3">
                            @Html.DropDownList("Size", new List<SelectListItem>() {
                           new SelectListItem {Text="Select Size",Value="-1"},
                           new SelectListItem {Text="S",Value="S"},
                           new SelectListItem {Text="L",Value="L"},
                           new SelectListItem {Text="M",Value="M"},
                           new SelectListItem {Text="XL",Value="XL"},
                           new SelectListItem {Text="2XL",Value="2XL"},

                       }, new { @class = "form-control" })
                        </dd>
                        <dd class="col-sm-6"></dd>
                        <dt class="col-sm-3">Quantity</dt>
                        <dd class="col-sm-9" style="z-index: 0;">
                            <div class="input-group mb-3 input-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-light" type="button" id="button-plus" onclick="OnplusChange()"> + </button>
                                </div>
                                <input type="text" class="form-control" value="1" id="qty">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button" id="button-minus" onclick="OnminusChange()"> &minus; </button>
                                </div>
                            </div>
                        </dd>
                        <dt class="col-sm-3">Select Color</dt>
                        <dd class="col-sm-9">
                            Red Color
                        </dd>
                        <dt class="col-sm-3">Apply Gift Voucher</dt>
                        <dd class="col-sm-9">
                            <div class="input-group mb-3">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Enter Coupen Code">
                                </div>
                                <div class="col-md-6" style="z-index: 0;">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" type="button" id="button-ApplyCoupen">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <div class="form-group col-md">
                        <a href="#" id="AddToCart" class="btn  btn-success">
                            <i class="fa fa-cart-plus"></i> <span class="text">Add to cart</span>
                        </a>
                        <a href="~/Home/checkedOut" class="btn  btn-primary">
                            <i class="fas fa-shopping-cart"></i> <span class="text">CheckOut</span>
                        </a>
                    </div> <!-- col.// -->
                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  =========================
<section class="section-name padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5 class="title-description">Description</h5>
                <p>
                    Lava stone grill, suitable for natural gas, with cast-iron cooking grid, piezo ignition, stainless steel burners, water tank, and thermocouple. Thermostatic adjustable per zone. Comes complete with lava rocks. Adjustable legs. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
                <ul class="list-check">
                    <li>Material: Stainless steel</li>
                    <li>Weight: 82kg</li>
                    <li>built-in drip tray</li>
                    <li>Open base for pots and pans</li>
                    <li>On request available in propane execution</li>
                </ul>
                <h5 class="title-description">Specifications</h5>
                <table class="table table-bordered">
                    <tr> <th colspan="2">Basic specs</th> </tr>
                    <tr> <td>Type of energy</td><td>Lava stone</td> </tr>
                    <tr> <td>Number of zones</td><td>2</td> </tr>
                    <tr> <td>Automatic connection	</td> <td> <i class="fa fa-check text-success"></i> Yes </td></tr>
                    <tr> <th colspan="2">Dimensions</th> </tr>
                    <tr> <td>Width</td><td>500mm</td> </tr>
                    <tr> <td>Depth</td><td>400mm</td> </tr>
                    <tr> <td>Height	</td><td>700mm</td> </tr>
                    <tr> <th colspan="2">Materials</th> </tr>
                    <tr> <td>Exterior</td><td>Stainless steel</td> </tr>
                    <tr> <td>Interior</td><td>Iron</td> </tr>
                    <tr> <th colspan="2">Connections</th> </tr>
                    <tr> <td>Heating Type</td><td>Gas</td> </tr>
                    <tr> <td>Connected load gas</td><td>15 Kw</td> </tr>
                </table>
            </div> <!-- col.// -->
<!--  <aside class="col-md-4">
                <div class="box">

                    <h5 class="title-description">Files</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <h5 class="title-description">Videos</h5>

                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="images/posts/3.jpg"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">How to use this item</a></h6>
                            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
                        </div>
                    </article>
                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="images/posts/2.jpg"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
                            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
                        </div>
                    </article>
                    <article class="media mb-3">
                        <a href="#"><img class="img-sm mr-3" src="images/posts/1.jpg"></a>
                        <div class="media-body">
                            <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
                            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
                        </div>
                    </article>


                </div> box.//       </aside>
        </div>
    </div>
</section>-->
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg  border-top">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                
                    <div class="col-4">
                        <a href="../../home/products" class="btn btn-block btn-success"> Back </a>
                    </div> <!-- col.// -->
                    <div class="col-8">
                     
                    </div> <!-- col.// -->
                 
                
            </div> <!-- col-md-6.// -->
        </div>

    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->


<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        getProductDetails();
        getCartCount();
       // getCartDetails(); 
 
    });

    var url_string = window.location.href; //window.location.href
    var url = new URL(url_string);
    var prodid = url.searchParams.get("prodid");
    var cartqty = parseFloat($('#qty').val());
    var size = $('#Size').val();

    function OnplusChange() {
        cartqty = parseFloat($('#qty').val()) + 1;
        $('#qty').val(cartqty);
    }

    function OnminusChange() {
        if ($('#qty').val() > 1) {
            cartqty = parseFloat($('#qty').val()) - 1;
            $('#qty').val(cartqty);
        }
    }

    function getProductDetails() {
        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:50235/Home/GetProductDetailById/' + prodid,
            data: '{}',

            processing: true,
            serverSide: true,
            success: function (data) {

                //var url="../"+"/Home/GetProductDetailById/";
                var record = JSON.parse(data.data);
                //record[0].img_url
                $('#prodDetImg').after('<div class="card"> <article class="gallery-wrap"> <div class="img-big-wrap"> <div> <a href="#"><img id ="olalaimg" src="http://serv.vrad.in/img/ecom_olaala/' + record[0].img_url + '"></a></div> </div></article></div>');
                $('#prod_discrep').append(record[0].name_desc_en);
                $('#prod_name').append(record[0].name_en);
                $('#prod_price').append(record[0].unit_price);
                imageZoom("olalaimg", "myresult");
            }
        }
   )
    };

    $('#AddToCart').click(function () {
        var cart = new Object();
        cart.prod_id = prodid;
        cart.quantity = cartqty;
        cart.cust_id = 5;

        $.ajax({
            async: true,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:50235/Home/AddToCart',
            data: JSON.stringify(cart),

            processing: true,
            serverSide: true,
            success: function (response) {
                alert("Updated Successfully");
            }

        })
    })

   

 </script>






