
@{
    ViewBag.Title = "AddTag";
}

<h2>AddTag</h2>



<div class="card-block">
    <form class="form-material">
        <div class="form-group form-default">
            <input type="text" name="footer-email" class="form-control" id="enName">
            <span class="form-bar"></span>
            <label class="float-label">English Name:</label>
        </div>
        <div class="form-group form-default">
            <input type="text" name="footer-email" class="form-control" id="arName">
            <span class="form-bar"></span>
            <label class="float-label">Arabic Name:</label>
        </div>
        <div class="form-group form-default">
            @Html.DropDownList("IsActive", new List<SelectListItem>() {
            new SelectListItem {Text="Active",Value="y"},
            new SelectListItem {Text="InActive",Value="n"}
       }, new { @class = "form-control" })
            <span class="form-bar"></span>
            <label class="label">Status:</label>
        </div>
        <div class="form-group form-default">
            <input type="button" name="footer-email" value="Save" class="btn btn-primary" id="Save">
            <span class="form-bar"></span>
        </div>
    </form>
</div>

<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $('#Save').click(function () {
        var tag = new Object();
        tag.tag_name_en = $("#enName").val();
        tag.tag_name_ar = $("#arName").val();
        tag.is_active = $("#IsActive").val();


        var catdata = JSON.stringify({
            e: tag
        });

        $.ajax({
            async: true,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Tags/SaveTag',
            data: catdata,

            processing: true,
            serverSide: true,
            success: function (response) {
                alert("Inserted Successfully");
            }

        })
    })
</script>