
@{
    ViewBag.Title = "ShowTag";
}

<h4>Show Tags</h4>
<link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">

<div class="card">
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead style="background-color:black;color:white;">
                    <tr>
                        <th>Id</th>
                        <th>Name In English</th>
                        <th>Name In Arabic</th>
                        <th>Status</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody id="TagTable">
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        getTag();
    });

    function getTag() {
        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Tags/GetTags',
            data: '{}',

            processing: true,
            serverSide: true,
            success: function (result) {
                var record = JSON.parse(result.data);

                $.each(record, function (i, key) {
                 
                        var Status = key.is_active == 'y' ? 'Active' : 'InActive';
                    $('#TagTable tr:last').after
                          ('<tr><td>' + key.tag_id + '</td><td>' + key.tag_name_en + '</td><td>' + key.tag_name_ar + '</td></td>' + '</td><td>' + Status + '</td><td>' + '<a href="UpdateTag/?id=' + key.tag_id + '"><i class="icofont icofont-eye-alt"></i></a>' + '</td><td>' + '<a  href="GetTag/?id=' + key.tag_id + '"><i class="icofont icofont-info-square"></i></a>' + '</td></tr>');
 
                    
                });


            }
        }

   )
    };

</script>