
@{
    ViewBag.Title = "UpdateTag";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<h2>UpdateTag</h2>

<style>
    .form-material .float-label {
        top: -12px;
    }
</style>


<div class="card-block">
    <form class="form-material">
        <input type="hidden" id="tagid" value="@ViewBag.Tagid" />
        <div class="form-group form-default">
            <input type="text" name="footer-email" class="form-control" id="enName">
            <span class="form-bar"></span>
            <label class="float-label">English Name:</label>
        </div>
        <div class="form-group form-default">
            <input type="text" name="footer-email" class="form-control" id="arName">
            <span class="form-bar"></span>
            <label class="float-label">Arabic Name:</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label"><span class="text-inverse"> Is Active?:</span></label>
            <div class="col-sm-8" style="padding-top:8px;">
                @*<input type="checkbox" value="" id="isdefault">*@
                <input type="checkbox" checked data-toggle="toggle" data-size="normal" data-style="ios" id="IsActive" data-on="Yes" data-off="No">
            </div>
        </div>
        <div class="form-group form-default">
            <input type="button" name="footer-email" value="Update" class="btn btn-primary" id="Save">
            <span class="form-bar"></span>
        </div>
    </form>
</div>




<script>

    $(document).ready(function () {
        getTagById($('#tagid').val());
    });
   
    function getTagById(id) {
        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Tags/GetTags',
            data: '{}',

            processing: true,
            serverSide: true,
            success: function (result) {
                var record = JSON.parse(result.data);

                $.each(record, function (i, key) {
                    if (key.tag_id == id) {
                       

                        $("#enName").val(key.tag_name_en);
                        $("#arName").val(key.tag_name_ar);
                        if (key.is_active == 'Y') {
                            $("#IsActive").prop('checked', false);
                        }
                        else { $("#IsActive").prop('checked', true); }

                    }
                });


            }
        }

   )
    };

    
        $("#IsActive").change(function () {
            isActive = $("#IsActive").is(':checked') == true ? 'Y' : 'N';
        });
     

    $('#Save').click(function () {
        var tag = new Object();
        tag.tag_id = $("#tagid").val();
        tag.tag_name_en = $("#enName").val();
        tag.tag_name_ar = $("#arName").val();
        tag.is_active = isActive;


        var catdata = JSON.stringify({
            e: tag
        });

        $.ajax({
            async: true,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Tags/UpdateTagInfo',
            data: catdata,

            processing: true,
            serverSide: true,
            success: function (response) {
                location.href = '../ShowTag';
            }

        })
    })
</script>