
@{
    ViewBag.Title = "GetOffer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GetOffer</h2>


<link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">

<div class="card">
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead style="background-color:black;color:white;">
                    <tr>
                        <th>Image</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Name In English</th>
                        <th>Name in Arabic</th>
                        <th>Status</th>
                        <th colspan="6">Action</th>
                    </tr>
                </thead>
                <tbody id="customers3">
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        getBrands();
        getOffers();

    });
    var resultBrand = {};

    function getBrands() {

        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Products/ShowBrands',
            data: '{}',
            processing: true,
            serverSide: true,
            success: function (data) {
                var response = JSON.parse(data.data);
                resultBrand = response;
            }

        })
        return resultBrand;
    };

    function getOffers() {
        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Offers/getOffersJson',
            data: '{}',

            processing: true,
            serverSide: true,
            success: function (result) {

                var record = JSON.parse(result.data);

                $.each(record, function (i, key) {
                    
                    var Status = key.is_active == 'Y' ? 'Active' : 'InActive';
                    $('#customers3 tr:last').after
                        ('<tr><td><img height="50px" src="http://serv.vrad.in/img/ecom_olaala/' + key.offer_img_url + '">' + '</td><td>' + new Date(key.valid_from).toLocaleDateString() + '</td><td>' + new Date(key.valid_to).toLocaleDateString() + '</td><td>' + key.offer_dec_en + '</td><td>' + key.offer_dec_ar + '</td><td>' + Status + '</td><td>' + '<a href="UpdateOffer/?id=' + key.ad_id + '"><i class="icofont icofont-eye-alt"></i></a>' + '</td><td>' + '<a  href="getOfferDetail/?id=' + key.ad_id + '"><i class="icofont icofont-info-square"></i></a>' + '</td></tr>');
                });


            }
        }

   )
    };


</script>


