
@{
    ViewBag.Title = "Create Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 
<script src="~/scripts/FileUpload.js"></script>
<link href="~/Content/FileUpload.css" rel="stylesheet" />
<body>
    <h1>New Product</h1>
    <form class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> English Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name_en" placeholder="Enter  English Name">
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> Arabic Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name_ar" placeholder="Enter Arabic Name">
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> Brand:</label>
            <div class="col-sm-6">
                <select id="brandDropDownList" class="form-control">
                    <option value="Select">Select</option>
                </select>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> Category:</label>
            <div class="col-sm-6">
                <select id="categoryDropDownList" class="form-control">
                    <option value="Select">Select</option>
                </select>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Description in English:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name_desc_en" placeholder="Enter Description in English">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Description in Arabic:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name_desc_ar" placeholder="Enter Description in Arabic">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Quantity:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Unit Price:</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="unit_price" placeholder="Enter Unit Price">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <hr />
        <h3>Product Asset</h3>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Type:</label>
            <div class="col-sm-3">
                @Html.DropDownList("type", new List<SelectListItem>() {
            new SelectListItem {Text="Image",Value="Image"},
            new SelectListItem {Text="Video",Value="Video"}
       }, new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Upload:</label>
            <div class="col-sm-3">
                <input type="file" name="prodImageUrl" id="AssertImageUrl" multiple>
                <input type="button" name="" id="fileButton" value="Upload" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> IsDefault:</label>
            <div class="col-sm-5">
                <input type="checkbox" name="IsDefault" id="IsDefault" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> Order By:</label>
            <div class="col-sm-5">
                <input type="text" name="prodOrderBy" id="prodOrderBy">
            </div>
        </div>
        @*<div class="form-group">

            <div class="col-sm-5" style="text-align:center;">
                <input type="submit" class="btn-primary" value="Add Asset">
            </div>
        </div>*@
        @*<table class="table table-condensed table-bordered">
            <tr>
                <th>Type</th>
                <th>URl</th>
                <th>IsDefault</th>
                <th>Action</th>

            </tr>
            <tr>
                <td>Image</td>
                <td>gift.jpg</td>
                <td>yes</td>
                <td><a href="#">Remove</a></td>
            </tr>
            <tr>
                <td>Video</td>
                <td>offer.mp4</td>
                <td>No</td>
                <td><a href="#">Remove</a></td>
            </tr>
        </table>*@
        @* End Color Group *@<br /><br />
        <hr />
        <h3>Custom Size Asset</h3>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Is Custom Size Available:</label>
            <div class="col-sm-5">
                <input type="checkbox" id="iscustomsizeavailable" checked="checked" />
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="email">Size1:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field1" placeholder="Enter Size1">
            </div>
            <label class="control-label col-sm-1" for="email">Size2:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field2" placeholder="Enter Size2">
            </div>
            <label class="control-label col-sm-1" for="email">Size3:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field3" placeholder="Enter Size3">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="email">Size4:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field4" placeholder="Enter Size4">
            </div>
            <label class="control-label col-sm-1" for="email">Size5:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field5" placeholder="Enter Size5">
            </div>
            <label class="control-label col-sm-1" for="email">Size6:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field6" placeholder="Enter Size6">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="email">Size7:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field7" placeholder="Enter Size7">
            </div>
            <label class="control-label col-sm-1" for="email">Size8:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field8" placeholder="Enter Size8">
            </div>
            <label class="control-label col-sm-1" for="email">Size9:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field9" placeholder="Enter Size9">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="email">Size10:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="custom_size_field10" placeholder="Enter Size10">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Custom Image Upload:</label>
            <div class="col-sm-6">
                <input type="file" id="customImageUpload">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Custom Image Description:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="custom_size_description" placeholder="Custom Image Description">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Custom Image Unit Price:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="unit_price" placeholder="Custom Image Unit Price">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Age From:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="agefrom" placeholder="Enter Age To">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Age To:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="ageto" placeholder="Enter Age To">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Is Gift Available:</label>
            <div class="col-sm-6">
                <input type="checkbox" id="is_gift_available" checked="checked" />
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Is Suprise Gift:</label>
            <div class="col-sm-6">
                <input type="checkbox" id="is_surprise_gift_available" checked="checked" />
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Approval Status:</label>
            <div class="col-sm-2">

                @Html.DropDownList("IsActive", new List<SelectListItem>() {
            new SelectListItem {Text="Approved",Value="y"},
            new SelectListItem {Text="Not Approved",Value="n"}
       }, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Approval Remarks:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="approvalremarks" placeholder="Enter Approval Remarks">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Order By:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="OrderBy" placeholder="Enter Order By">
            </div>
        </div>
        <hr />
        @* Color Group *@
        <h3>Gift Card</h3>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Image:</label>
            <div class="col-sm-2">
                <input type="file" id="ColorNameEng">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Order By:</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="GiftOrderBy" placeholder="Order By">
            </div>
        </div>

        @*<div class="form-group" style="text-align:center;">
            <div class="col-sm-4">
                <input type="submit" class="btn-primary" value="Add Gift">
            </div>
        </div>*@
        @*<table class="table table-condensed table-bordered">
            <tr>
                <th>Image Name</th>
                <th>Order By</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Gift1</td>
                <td>1</td>
                <td><a href="#">Remove</a></td>
            </tr>
            <tr>
                <td>Gift2</td>
                <td>2</td>
                <td><a href="#">Remove</a></td>
            </tr>
        </table>*@
        @* End Gift Card *@
        <hr />
        @* Color Group *@
        <h3>Color Asset</h3>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Color Name in English:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="color_name_en" placeholder="Enter Name in English">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Color Name in Arabic:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="color_name_ar" placeholder="Enter Name in Arabic">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Color Code:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="color_code" placeholder="Enter Color Code">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Order By:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="colorOrderBy" placeholder="Enter Color Code">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Color ImageUrl:</label>
            <div class="col-sm-2">
                @*<input type="file" class="form-control" id="color_img_url">*@
                <input type="file" id="files" name="files[]" multiple />
            </div>
        </div>
        <div class="form-group" style="text-align:center;">
            <div class="col-sm-4">
                <input type="button" class="btn-primary" value="Add Color" id="addcolorimg" />
            </div>
        </div>
        @*<table id="Color" class="table table-condensed table-bordered">
            <tr>
                <th>Name in English</th>
                <th>Name in Arabic</th>
                <th>Color Code</th>
                <th>Action</th>

            </tr>
            <tr>
                <td>Green</td>
                <td>Green</td>
                <td>#b11234</td>
                <td><a href="#">Remove</a></td>
            </tr>
            <tr>
                <td>Green</td>
                <td>Green</td>
                <td>#b11234</td>
                <td><a href="#">Remove</a></td>
            </tr>
            <tr>
                <td>Green</td>
                <td>Green</td>
                <td>#b11234</td>
                <td><a href="#">Remove</a></td>
            </tr>
        </table>*@
        @* End Color Group *@<br /><br />
        <div style="text-align:center;">
            <p id="Save" class="btn btn-success">Save Product</p>
        </div>
    </form>
</body>
</html>


<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        getBrands();
        getCategorys()
    });

    

    //select statement Code for Brand and Category
    var brandId, categoryId;
    jQuery(document).ready(function($) {
        $("#brandDropDownList").on('change', function() {
            brandId = $('#brandDropDownList').val();
        })
    })
 
    jQuery(document).ready(function ($) {
        $("#categoryDropDownList").on('change', function () {
            categoryId = $('#categoryDropDownList').val();
        })
    })
    //End

    //Checked Code for Checkbox
    var isDefault, iscustomsizeavailable, issurprisegiftavailable, isgiftavailable;
    jQuery(document).ready(function ($) {
        $("#IsDefault").click(function () {
            isDefault = $("#IsDefault").is(':checked');
        });
    });

    jQuery(document).ready(function ($) {
        $("#iscustomsizeavailable").click(function () {
            iscustomsizeavailable = $("#iscustomsizeavailable").is(':checked');
        });
    });

    jQuery(document).ready(function ($) {
        $("#is_surprise_gift_available").click(function () {
            issurprisegiftavailable = $("#is_surprise_gift_available").is(':checked');
        });
    });

    
    jQuery(document).ready(function ($) {
        $("#is_gift_available").click(function () {
            isgiftavailable = $("#is_gift_available").is(':checked');
        });
    });

        function getBrands() {
            $.ajax({
                async: true,
                type: "Get",
                dataType: "JSON",
                contentType: 'application/json;',
                url: 'http://localhost:60624/Products/ShowBrands',
                data: '{}',
                processing: true,
                serverSide: true,
                success: function (data) {
                    var response = JSON.parse(data.data);
                    $('#brandDropDownList').html('');
                    var options = '';
                    options += '<option value="Select">Select Brand</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].brand_id + '">' + response[i].name_brand_en + '</option>';
                    }
                    $('#brandDropDownList').append(options);
                }

            })
        };
        function getCategorys() {
            $.ajax({
                async: true,
                type: "Get",
                dataType: "JSON",
                contentType: 'application/json;',
                url: 'http://localhost:60624/Products/GetCategorys',
                data: '{}',
                processing: true,
                serverSide: true,
                success: function (data) {
                    var response = JSON.parse(data.data);
                    $('#categoryDropDownList').html('');
                    var options = '';
                    options += '<option value="Select">Select Category</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].id + '">' + response[i].name_en + '</option>';
                    }
                    $('#categoryDropDownList').append(options);
                }

            })
        };

        $(document).ready(function () {
            $("#fileButton").click(function () {
                var files = $("#prodImageUrl").get(0).files;
                var fileData = new FormData();

                for (var i = 0; i < files.length; i++) {
                    fileData.append("prodImageUrl", files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: "/Products/UploadFiles",
                    dataType: "json",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result, status, xhr) {
                        alert(result);
                    },
                    error: function (xhr, status, error) {
                        alert(status);
                    }
                });
            });

            $(document).ajaxStart(function () {

                $("#fileButton").prop('disabled', true);
            });

            $(document).ajaxStop(function () {
                $("#fileButton").prop('disabled', false);

            });

        });


        var arrgiftCard = [];

        function AddGift() {
            var res = new object();


            var ColorNameEng = document.getElementById('ColorNameEng').value;
            var ColorNameAr = document.getElementById('ColorNameAr').value;
            var ColorCode = document.getElementById('ColorCode').value;
            var ColorOrderBy = document.getElementById('ColorOrderBy').value;

            res.ColorNameEng = ColorNameEng;
            res.ColorNameAr = ColorNameAr;
            res.ColorCode = ColorCode;
            res.ColorOrderBy = ColorOrderBy;
            arrgiftCard.push(res);

            $.each(arrgiftCard, function (i, key) {
                $('#Color tr:last').after
                    ('<tr><td>' + key.ColorNameEng + '</td><td>' + key.ColorNameAr + '</td><td>' + key.ColorCode + '</td><td>' + key.ColorOrderBy + '</td><tr>');
            });

            ;
            alert(arr);

        }

        function RemoveGift() {
            for (var i = 0; i < arr.length; i++) {

                if (arr[i] === 'james') {
                    arr.splice(i, 1);
                    alert(arr);
                }
            }

        }


        $('#Save').click(function () {
            var prodlist = [];
            prod = {};
          
            prod['name_en'] = $("#name_en").val();
            prod['name_ar'] = $("#name_ar").val();
                
            prod['brand_id'] = $("#brandDropDownList").val();
            prod['cat_id'] = $("#categoryDropDownList").val();
                
            prod['order_by'] = $("#prodorder_by").val();
            prod['is_active'] = $("#is_active").val();
            prod['icon_url'] = $("#IconUrl").val();
            prod['name_desc_en'] = $("#name_desc_en").val();
            prod['name_desc_ar'] = $("#name_desc_ar").val();
            prod['quantity'] = $("#quantity").val();
            prod['unit_price'] = $("#unit_price").val();
            prod['is_custom_size_available'] = iscustomsizeavailable==true?'y':'n';
            prod['custom_size_img_url'] = $("#custom_size_img_url").val();
            prod['custom_size_description'] = $("#custom_size_description").val();
            prod['custom_size_field1'] = $("#custom_size_field1").val();
            prod['custom_size_field2'] = $("#custom_size_field2").val();
            prod['custom_size_field3'] = $("#custom_size_field3").val();
            prod['custom_size_field4'] = $("#custom_size_field4").val();
            prod['custom_size_field5'] = $("#custom_size_field5").val();
            prod['custom_size_field6'] = $("#custom_size_field6").val();
            prod['custom_size_field7 ']= $("#custom_size_field7").val();
            prod['custom_size_field8 ']= $("#custom_size_field8").val();
            prod['custom_size_field9 ']= $("#custom_size_field9").val();
            prod['custom_size_field10'] = $("#custom_size_field10").val();
            prod['custom_size_description'] = $("#custom_size_description").val();
            prod['is_gift_available'] = isgiftavailable==true?'y':'n';
            prod['is_surprise_gift_available'] = issurprisegiftavailable == 'true' ? 'y' : 'n';
            prod['size_chart_img_url'] = $("#size_chart_img_url").val();
            prod['age_from'] = $("#agefrom").val();
            prod['age_to'] = $("#ageto").val();


           
             
            var asset = {};
            asset['type'] = $("#type").val();
            asset['img_url'] = $("#AssertImageUrl").val();
            asset['is_default'] = isDefault == true ? 'y' : 'n';
            asset['order_by_asset'] = $("#order_by_asset").val();
            var NewAssert = [];
            NewAssert.push(asset);
            prod['asset'] = NewAssert;

            var color = {};
            color['color_name_en'] = $("#color_name_en").val();
            color['color_name_ar'] = $("#color_name_ar").val();
            color['color_code'] = $("#color_code").val();
            color['is_active'] = $("#color_is_active").val();
            color['color_img_url'] = $("#color_img_url").val();
            var NewColor = [];
            NewColor.push(color);
            prod['color'] = NewColor;

            
            prod.size_name_en = $("#size_name_en").val();
            prod.size_name_ar = $("#size_name_ar").val();
            prod.product_size_id = $("#product_size_id").val();
            prod.stock_count = $("#stock_count").val();
            prod.tag_id = $("#tag_id").val();



            var proddata = JSON.stringify({
                e: prod
            });

            $.ajax({
                async: true,
                type: "POST",
                dataType: "JSON",
                contentType: 'application/json;',
                url: 'http://localhost:60624/Products/AddProductJson',
                data:  proddata ,

                processing: true,
                serverSide: true,
                success: function (response) {
                    alert("Inserted Successfully");
                }

            })
        });
  
</script>
