<!DOCTYPE HTML>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>

    <link href="~/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="~/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/css/bootstrap3661.css?v=2.0" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="~/fonts/fontawesome/css/all.min3661.css?v=2.0" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/css/ui3661.css?v=2.0" rel="stylesheet" type="text/css" />
    <link href="~/css/responsive3661.css?v=2.0" rel="stylesheet" type="text/css" />

    <!-- custom javascript -->
    <script src="~/js/script3661.js?v=2.0" type="text/javascript"></script>

    <style>
        .header {
            background-color: #1B4869 !important;
            color: white;
        }
         .footer-bottom .section-footer {
            background-color: #1B4869 !important;
            color: white;
        }

          .section-footer {
            background-color: #1B4869 !important;
            color: white;
        }

        a {
            color: white;
        }

        .wish:hover {
            background: #d9121f url("../images/widh-comp.png") no-repeat scroll 8px 11px;
            border-color: #d9121f;
        }


        .wish {
            background: #2b282f url("../images/widh-comp.png") no-repeat scroll 8px 11px;
        }


            .addtocart:hover, .wish:hover, .compare:hover {
                background: #d9121f none repeat scroll 0 0;
                border-color: #d9121f;
            }

        header.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;
            /*padding: 50px;
            font-size: 20px;*/
        }
    </style>
</head>
<body>



    <header class="header sticky" id="myHeader">

        <div class="container" style="z-index:0;">
            <section class="header-main border-bottom">
                <div class="row row-sm">
                    <div class="col-6 col-sm col-md col-lg  flex-grow-0">
                        <a href="#" class="brand-wrap">
                            <img  src="~/images/logoolaala.png?v=3.0" style="height:70px">
                        </a> <!-- brand-wrap.// -->
                    </div>
                    <div class="col-6 col-sm col-md col-lg flex-md-grow-0">

                        <!-- mobile-only -->
                        <div class="d-md-none float-right">
                            <a href="#" class="btn btn-light"> <i class="fa fa-bell"></i> </a>
                            <a href="#" class="btn btn-light"> <i class="fa fa-user"></i> </a>
                            <a href="#" class="btn btn-light"> <i class="fa fa-shopping-cart"></i> 2 </a>
                        </div>

                    </div> <!-- col.// -->
                    <div class="col-md-5" style="margin-left:114px;">
                        <form action="#" class="search-header">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            
                        </form> <!-- search-wrap .end// -->
                    </div> <!-- col.// -->
                    <div class="col col-lg col-md flex-grow-0">
                        <button class="btn btn-block btn-primary" type="submit"> Search </button>
                    </div>
                   
                    <div class="col col-lg col-md flex-grow-0">
                        <button class="btn btn-block btn-light" type="submit"> Login </button>
                    </div>


                    <div class="col col-lg col-md flex-grow-0" style="padding-left:45px;">
                        <div class="" id="navbarTop4" style="color:white;">
                            <ul class="navbar-nav" style="color:white;">
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color:white"> Languages </a>
                                    <ul class="dropdown-menu small" style="color:white">
                                        <li><a class="dropdown-item" href="#">English</a></li>
                                        <li><a class="dropdown-item" href="#">Arabic</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col col-lg col-md flex-grow-0" style="padding-left:45px;">
                        <div class="widget-header">
                            <a href="~/Home/checkedOut" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <small class="text" style="color:white;"> Cart(<span id="CartCount"></span> items)</small>
                            </a>
                        </div>
                    </div>
                    <nav class="navbar d-none d-md-flex p-md-0 navbar-expand-sm">
                        <div class="container" style="height:45px;">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        
                           
                        </div> <!-- container //  -->
                    </nav>

                </div> <!-- row.// -->
            </section> <!-- header-main .// -->


            <nav class="navbar navbar-main navbar-expand pl-0 style">
                <ul class="navbar-nav flex-wrap">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> Fashion </a>
                        <div class="dropdown-menu dropdown-large">
                            <nav class="row">
                                <div class="col-6">
                                    <h5>Mens</h5>
                                    <a href="page-index-1.html">Men's Top Wear</a>
                                    <a href="page-index-2.html">Men's Bottom Wear</a>
                                    <a href="page-category.html">Women Top Wear</a>
                                    <a href="page-listing-large.html">Women Bottom Wear</a>
                                    <a href="page-listing-grid.html">Kids</a>
                                    <a href="page-shopping-cart.html">Watches</a>
                                    <a href="page-detail-product.html">Essential Winter</a>

                                </div>
                                <div class="col-6">
                                    <h5>womens</h5>
                                    <a href="page-profile-main.html">Profile main</a>
                                    <a href="page-profile-orders.html">Profile orders</a>
                                    <a href="page-profile-seller.html">Profile seller</a>
                                    <a href="page-profile-wishlist.html">Profile wishlist</a>
                                    <a href="page-profile-setting.html">Profile setting</a>
                                    <a href="page-profile-address.html">Profile address</a>
                                    <a href="page-components.html" target="_blank">More components</a>
                                </div>
                                <div class="col-6">
                                    <h5>Kids</h5>
                                    <a href="page-profile-main.html">Profile main</a>
                                    <a href="page-profile-orders.html">Profile orders</a>
                                    <a href="page-profile-seller.html">Profile seller</a>
                                    <a href="page-profile-wishlist.html">Profile wishlist</a>
                                    <a href="page-profile-setting.html">Profile setting</a>
                                    <a href="page-profile-address.html">Profile address</a>
                                    <a href="page-components.html" target="_blank">More components</a>
                                </div>
                            </nav> <!--  row end .// -->
                        </div> <!--  dropdown-menu dropdown-large end.// -->
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact US</a>
                    </li>
                </ul>
            </nav> <!-- navbar-main  .// -->

        </div> <!-- container.// -->
    </header> <!-- section-header.// -->
    <!-- ========================= SECTION MAIN  ========================= -->
    @RenderBody()
    <!-- container end.// -->
    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary text-white" style="background-color:black;">
        <div class="container">
            <section class="footer-top  padding-y-lg">
                <div class="row">
                    <aside class="col-md-4 col-12">
                        <article class="mr-md-4">
                            <h5 class="title">Contact us</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem. </p>
                            <ul class="list-icon">
                                <li> <i class="icon fa fa-map-marker"> </i>542 Fake Street, Cityname 10021 Netheerlends </li>
                                <li> <i class="icon fa fa-envelope"> </i> info@example.com</li>
                                <li> <i class="icon fa fa-phone"> </i> (800) 060-0730, (800) 060-0730</li>
                                <li> <i class="icon fa fa-clock"> </i>Mon-Sat 10:00pm - 7:00pm</li>
                            </ul>
                        </article>
                    </aside>
                    <aside class="col-md col-6">
                        <h5 class="title">Information</h5>
                        <ul class="list-unstyled">
                            <li> <a href="#">About us</a></li>
                            <li> <a href="#">Career</a></li>
                            <li> <a href="#">Find a store</a></li>
                            <li> <a href="#">Rules and terms</a></li>
                            <li> <a href="#">Sitemap</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h5 class="title">My Account</h5>
                        <ul class="list-unstyled">
                            <li> <a href="#">Contact us</a></li>
                            <li> <a href="#">Money refund</a></li>
                            <li> <a href="#">Order status</a></li>
                            <li> <a href="#">Shipping info</a></li>
                            <li> <a href="#">Open dispute</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md-4 col-12">
                        <h5 class="title">Newsletter</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem. </p>

                        <form class="form-inline mb-3">
                            <input type="text" placeholder="Email" class="border-0 w-auto form-control" name="">
                            <button class="btn ml-2 btn-warning"> Subscribe</button>
                        </form>

                        <p class="text-white-50 mb-2">Follow us on social media</p>
                        <div>
                            <a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-youtube"></i></a>
                        </div>

                    </aside>
                </div> <!-- row.// -->
            </section>	<!-- footer-top.// -->

            <section class="footer-bottom text-center">
                <p class="text-white">Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
                <p class="text-muted"> &copy 2019 Company name, All rights reserved </p>
                <br>
            </section>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {

            getCartCount();
        });

        function getCartCount() {
            var cart = new Object();
            cart.cust_id = 5;

            $.ajax({
                async: true,
                type: "POST",
                dataType: "JSON",
                contentType: 'application/json;',
                url: 'http://localhost:50235/Home/getCartCount',
                data: JSON.stringify(cart),

                processing: true,
                serverSide: true,
                success: function (data) {
                    var record = JSON.parse(data.data);
                    $('#CartCount').text(record);
                }
            }
       )
        };


    </script>

</body>


</html>
