
@{
    ViewBag.Title = "addAdvertisement";
}
 

 <style>
    .form-material .float-label {
        top: -12px;
    }
      
</style>


<h2>Create Adds</h2>


<div class="card-block">

    <form class="form-material" enctype="multipart/form-data">

   <div class="form-group form-default">
            <input type="text" name="footer-email" class="form-control" id="brName">
            <span class="form-bar"></span>
            <label class="float-label">Brand Name</label>
  </div>


        <div class="form-group form-default">
            <label class="floatimage">Image</label>
            <input type="file" name="footer-email" class="form-control" id="AddsUpload">
            <span class="form-bar"></span>
           
        </div>

        <div class="form-group form-default">
            <input type="date" name="ad_startdate" class="form-control" id="ad_startdate">
            <span class="form-bar"></span>
            <label class="float-label">Start Date</label>
        </div>


        <div class="form-group form-default">
            <input type="date" name="ad_enddate" class="form-control" id="ad_enddate">
            <span class="form-bar"></span>
            <label class="float-label">End Date</label>
        </div>


        <div class="form-group form-default">
            @Html.DropDownList("ad_ispaid", new List<SelectListItem>() {
            new SelectListItem {Text="Paid",Value="y"},
            new SelectListItem {Text="UnPaid",Value="n"}
       }, new { @class = "form-control" })
            
            <span class="form-bar"></span>
            <label class="float-label">Is Paid</label>
        </div>



        <div class="form-group form-default">
            <input type="text" name="ad_Orderby" class="form-control" id="ad_Orderby">
            <span class="form-bar"></span>
            <label class="float-label">Order BY</label>
        </div>


        <div class="form-group form-default">
            @Html.DropDownList("IsActive", new List<SelectListItem>() {
            new SelectListItem {Text="Approve",Value="y"},
            new SelectListItem {Text="Reject",Value="n"}
       }, new { @class = "form-control" })
            <span class="form-bar"></span>
            <label class="float-label">Is Active?</label>
        </div>
        <div class="row m-t-30">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
            </div>
        </div>
        </form>
</div>


<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $('#Save').click(function () {
        var ads = new Object();
        ads.type = $("#brName").val();
        ads.name_en = $("#AddsUpload").val();
        ads.name_ar = $("#ad_startdate").val();
        ads.order_by = $("#ad_enddate").val();
        ads.order_by = $("#ad_ispaid").val();
        ads.is_active = $("#ad_Orderby").val();



        //var formData = new FormData();
        //var files = $("#IconUrl").get(0).files;
        //formData.append("file", files[0]);

        var catdata = JSON.stringify({
            e: cat
            //file: formData
        });

        $.ajax({
            async: true,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Categorys/SaveCatagory',
            data: catdata,

            processing: true,
            serverSide: true,
            success: function (response) {
                alert("Inserted Successfully");
            }

        })
    })
</script>