
@{
    ViewBag.Title = "getAdvertisement";
}

<h2>Advertisement</h2>

<link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
<div style="text-align:right;padding-right: 42px;">
    <a href="~/Advertisement/addAdvertisement" class="btn btn-primary">Create Advertisement</a>
</div>
<div class="card">
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead style="background-color:black;color:white;">
                    <tr>
                        <th>Brand Name</th>
                        <th>Image</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th colspan="4">Action</th>
                    </tr>
                </thead>
                <tbody id="customers3">
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        getBrands();
        getAdvertisement();

    });
    var resultBrand = {};

    function getBrands() {

        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Products/ShowBrands',
            data: '{}',
            processing: true,
            serverSide: true,
            success: function (data) {
                var response = JSON.parse(data.data);
                resultBrand = response;
            }

        })
        return resultBrand;
    };

    function getAdvertisement() {
        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:51412/Advertisement/getAdvertisementJson',
            data: '{}',

            processing: true,
            serverSide: true,
            success: function (result) {

                var record = JSON.parse(result.data);

                $.each(record, function (i, key) {
                    var brandName = "";
                    var brand = resultBrand.filter(x => x.brand_id == key.brand_id);
                    if (brand.length>0) {
                        brandName = brand[0].name_brand_en;
                    }
                    else {
                        brandName = "Zimal";
                    }
                    var Status = key.is_active == 'Y' ? 'Active' : 'InActive';
                    $('#customers3 tr:last').after
                        ('<tr><td>' + brandName+ '</td><td><img height="50px" src="http://serv.vrad.in/img/ecom_olaala/' + key.img_url + '">' + '</td><td>' + new Date(key.date_from).toLocaleDateString() + '</td><td>' + new Date(key.date_to).toLocaleDateString() + '</td><td>' + Status + '</td><td>' + '<a href="UpdateAdvertisement/?id=' + key.ad_id + '"><i class="icofont icofont-eye-alt"></i></a>' + '</td><td>' + '<a  href="getAdvertisementDetail/?id=' + key.ad_id + '"><i class="icofont icofont-info-square"></i></a>' + '</td></tr>');
                });


            }
        }

   )
    };


</script>