
@{
    ViewBag.Title = "Index";
}
<style>
    #customers2 th {
        background-color: black;
        color: white;
    }
</style>
<div class="row">
    <div class="col-md-12">

        <!-- START DATATABLE EXPORT -->
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:deepskyblue;color:black">
                <h3 class="panel-title" style="color:white">Category Details</h3>
                <div class="btn-group pull-right">
                    <button class="btn btn-file dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a href="#" onClick="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='~/img/icons/xls.png' width="24" /> XLS</a></li>
                        <li><a href="#" onClick="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='~/img/icons/pdf.png' width="24" /> PDF</a></li>
                    </ul>
                </div>

            </div>
            <div class="panel-body">
                <table id="customers2" class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name In English</th>
                            <th>Name In Arabic</th>
                            <th>Order By</th>
                            <th>Status</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody id="customers3" style="background-color:white;color: black;">
                        <tr></tr>

                    </tbody>
                </table>

            </div>
        </div>
        <!-- END DATATABLE EXPORT -->
    </div>
</div>

<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        
        getCategory();
       
    });
     function getCategory() {
         $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:60624/Category/GetCategorys',
            data: '{}',

            processing: true,
            serverSide: true,
            success: function (result) {
                var record = JSON.parse(result.data);
                $.each(record, function (i, key) {
                    $('#customers3 tr:last').after
                        ('<tr><td>' + key.cat_id + '</td><td>' + key.name_en + '</td><td>' + key.name_ar + '</td></td>' + '</td><td>' + key.order_by + '</td><td>' + key.is_active + '</td><td>' + '<a href="EditCategory/?id=' + key.cat_id + '">Edit</a>' + '</td><td>' + '<a href="GetCategoryById/?id=' + key.cat_id + '">Details</a>' + '</td></tr>');
                });


            }
        }

    )
     };
     
</script>