
@{
    ViewBag.Title = "CreteProduct";
}

<h2>CreteProduct</h2>


<div class="card-block">

    <form class="form-material" enctype="multipart/form-data">

        <div class="form-group form-default">
            <input type="text" name="name_en" class="form-control" id="name_en">
            <span class="form-bar"></span>
            <label class="float-label">English Name:</label>
        </div>
        <div class="form-group form-default">
            <input type="text" name="name_ar" class="form-control" id="name_ar">
            <span class="form-bar"></span>
            <label class="float-label">Arabic Name:</label>
        </div>

        <div class="form-group form-default">
            <select id="brandDropDownList" class="form-control">
                <option value="Select">Select</option>
            </select>
            <span class="form-bar"></span>
            <label class="float-label"> Brand:</label>
        </div>



        <div class="form-group form-default">
            <select id="categoryDropDownList" class="form-control">
                <option value="Select">Select</option>
            </select>
            <span class="form-bar"></span>
            <label class="float-label"> Category:</label>
        </div>




        <div class="form-group form-default">
            <input type="text" name="name_desc_en" class="form-control" id="name_desc_en">
            <span class="form-bar"></span>
            <label class="float-label">Description in English:</label>
        </div>
        <div class="form-group form-default">
            <input type="text" name="footer-email" class="form-control" id="name_desc_ar">
            <span class="form-bar"></span>
            <label class="float-label">Description in Arabic:</label>
        </div>






        <div class="form-group form-default">
            <input type="text" name="quantity" class="form-control" id="quantity">
            <span class="form-bar"></span>
            <label class="float-label">Quantity:</label>
        </div>


        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="unit_price">
            <span class="form-bar"></span>
            <label class="float-label">Unit Price:</label>
        </div>

        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="unit_price">
            <span class="form-bar"></span>
            <label class="float-label">Unit Price:</label>
        </div>


        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="prodOrderBy">
            <span class="form-bar"></span>
            <label class="float-label">Order By:</label>
        </div>

        <hr />
        <h3>Custom Size Asset</h3>



        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field1">
            <span class="form-bar"></span>
            <label class="float-label">Size1:</label>
        </div>


        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field2">
            <span class="form-bar"></span>
            <label class="float-label">Size2:</label>
        </div>


        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field3">
            <span class="form-bar"></span>
            <label class="float-label">Size3:</label>
        </div>

        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field4">
            <span class="form-bar"></span>
            <label class="float-label">Size4:</label>
        </div>
        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field5">
            <span class="form-bar"></span>
            <label class="float-label">Size5:</label>
        </div>

        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field6">
            <span class="form-bar"></span>
            <label class="float-label">Size6:</label>
        </div>

        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field7">
            <span class="form-bar"></span>
            <label class="float-label">Size7:</label>
        </div>

        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field8">
            <span class="form-bar"></span>
            <label class="float-label">Size8:</label>
        </div>

        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field9">
            <span class="form-bar"></span>
            <label class="float-label">Size9:</label>
        </div>

        <div class="form-group form-default">
            <input type="text" name="unit_price" class="form-control" id="custom_size_field10">
            <span class="form-bar"></span>
            <label class="float-label">Size10:</label>
        </div>

        <div class="form-group form-default">

            <span class="form-bar"></span>
            <label class="float-label">Custom Image Upload:</label>
        </div>


        <div class="form-group form-default">
            <input type="text" name="custom_size_description" class="form-control" id="custom_size_description">
            <span class="form-bar"></span>
            <label class="float-label">Custom Image Description:</label>
        </div>



        <div class="form-group form-default">
            <input type="text" name="custom_size_description" class="form-control" id="unit_price">
            <span class="form-bar"></span>
            <label class="float-label">Custom Image Unit Price:</label>
        </div>



        <div class="form-group form-default">
            <input type="text" name="agefrom" class="form-control" id="agefrom">
            <span class="form-bar"></span>
            <label class="float-label"> Age From:</label>
        </div>
        <div class="form-group form-default">
            <input type="text" name="agefrom" class="form-control" id="ageto">
            <span class="form-bar"></span>
            <label class="float-label"> Age To:</label>
        </div>


        <div class="form-group form-default">
            <input type="text" name="is_gift_available" class="form-control" id="is_gift_available">
            <span class="form-bar"></span>
            <label class="float-label"> Is Gift Available:</label>
        </div>



        <div class="form-group form-default">
            <input type="text" name="is_surprise_gift_available" class="form-control" id="is_surprise_gift_available">
            <span class="form-bar"></span>
            <label class="float-label"> Is Gift Available:</label>
        </div>




        <div class="form-group form-default">
            drop
            <span class="form-bar"></span>
            <label class="float-label"> Approval Status:</label>
        </div>




        <div class="form-group form-default">
            <input type="text" name="approvalremarks" class="form-control" id="approvalremarks">
            <span class="form-bar"></span>
            <label class="float-label"> Approval Remarks:</label>
        </div>



        <div class="form-group form-default">
            <input type="text" name="OrderBy" class="form-control" id="OrderBy">
            <span class="form-bar"></span>
            <label class="float-label"> Order By:</label>
        </div>
        <h3>Gift Card</h3>


        <div class="form-group form-default">
            <input type="file" id="ColorNameEng">
            <span class="form-bar"></span>
            <label class="float-label"> Image:</label>
        </div>



        <div class="form-group form-default">
            <input type="text" name="GiftOrderBy" class="form-control" id="GiftOrderBy">
            <span class="form-bar"></span>
            <label class="float-label"> Order By:</label>
        </div>


        <h3>Color Asset</h3>
        <div class="form-group form-default">
            <input type="text" name="color_name_en" class="form-control" id="color_name_en">
            <span class="form-bar"></span>
            <label class="float-label"> Color Name in English:</label>
        </div>

        <div class="form-group form-default">
            <input type="text" name="color_name_ar" class="form-control" id="color_name_ar">
            <span class="form-bar"></span>
            <label class="float-label"> Color Name in Arabic:</label>
        </div>





        <div class="form-group form-default">
            <input type="text" name="color_code" class="form-control" id="color_code">
            <span class="form-bar"></span>
            <label class="float-label">  Color Code:</label>
        </div>




        <div class="form-group form-default">
            <input type="text" name="colorOrderBy" class="form-control" id="colorOrderBy">
            <span class="form-bar"></span>
            <label class="float-label">   Order By:</label>
        </div>



        <div class="form-group form-default">
            <input type="text" name="color_img_url" class="form-control" id="color_img_url">
            <span class="form-bar"></span>
            <label class="float-label">   Color ImageUrl:</label>
        </div>


    </form>
</div>


<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        getBrands();
        getCategorys()
    });



    //select statement Code for Brand and Category
    var brandId, categoryId;
    jQuery(document).ready(function ($) {
        $("#brandDropDownList").on('change', function () {
            brandId = $('#brandDropDownList').val();
        })
    })

    jQuery(document).ready(function ($) {
        $("#categoryDropDownList").on('change', function () {
            categoryId = $('#categoryDropDownList').val();
        })
    })
    //End

    //Checked Code for Checkbox
    var isDefault, iscustomsizeavailable, issurprisegiftavailable, isgiftavailable;
    jQuery(document).ready(function ($) {
        $("#IsDefault").click(function () {
            isDefault = $("#IsDefault").is(':checked');
        });
    });

    jQuery(document).ready(function ($) {
        $("#iscustomsizeavailable").click(function () {
            iscustomsizeavailable = $("#iscustomsizeavailable").is(':checked');
        });
    });

    jQuery(document).ready(function ($) {
        $("#is_surprise_gift_available").click(function () {
            issurprisegiftavailable = $("#is_surprise_gift_available").is(':checked');
        });
    });


    jQuery(document).ready(function ($) {
        $("#is_gift_available").click(function () {
            isgiftavailable = $("#is_gift_available").is(':checked');
        });
    });

    function getBrands() {
        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:60624/Products/ShowBrands',
            data: '{}',
            processing: true,
            serverSide: true,
            success: function (data) {
                var response = JSON.parse(data.data);
                $('#brandDropDownList').html('');
                var options = '';
                options += '<option value="Select">Select Brand</option>';
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i].brand_id + '">' + response[i].name_brand_en + '</option>';
                }
                $('#brandDropDownList').append(options);
            }

        })
    };
    function getCategorys() {
        $.ajax({
            async: true,
            type: "Get",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:60624/Products/GetCategorys',
            data: '{}',
            processing: true,
            serverSide: true,
            success: function (data) {
                var response = JSON.parse(data.data);
                $('#categoryDropDownList').html('');
                var options = '';
                options += '<option value="Select">Select Category</option>';
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i].id + '">' + response[i].name_en + '</option>';
                }
                $('#categoryDropDownList').append(options);
            }

        })
    };

    $(document).ready(function () {
        $("#fileButton").click(function () {
            var files = $("#prodImageUrl").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("prodImageUrl", files[i]);
            }

            $.ajax({
                type: "POST",
                url: "/Products/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {
                    alert(result);
                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
        });

        $(document).ajaxStart(function () {

            $("#fileButton").prop('disabled', true);
        });

        $(document).ajaxStop(function () {
            $("#fileButton").prop('disabled', false);

        });

    });


    var arrgiftCard = [];

    function AddGift() {
        var res = new object();


        var ColorNameEng = document.getElementById('ColorNameEng').value;
        var ColorNameAr = document.getElementById('ColorNameAr').value;
        var ColorCode = document.getElementById('ColorCode').value;
        var ColorOrderBy = document.getElementById('ColorOrderBy').value;

        res.ColorNameEng = ColorNameEng;
        res.ColorNameAr = ColorNameAr;
        res.ColorCode = ColorCode;
        res.ColorOrderBy = ColorOrderBy;
        arrgiftCard.push(res);

        $.each(arrgiftCard, function (i, key) {
            $('#Color tr:last').after
                ('<tr><td>' + key.ColorNameEng + '</td><td>' + key.ColorNameAr + '</td><td>' + key.ColorCode + '</td><td>' + key.ColorOrderBy + '</td><tr>');
        });

        ;
        alert(arr);

    }

    function RemoveGift() {
        for (var i = 0; i < arr.length; i++) {

            if (arr[i] === 'james') {
                arr.splice(i, 1);
                alert(arr);
            }
        }

    }




    $('#Save').click(function () {
        var prodlist = [];
        prod = {};

        prod['name_en'] = $("#name_en").val();
        prod['name_ar'] = $("#name_ar").val();

        prod['brand_id'] = $("#brandDropDownList").val();
        prod['cat_id'] = $("#categoryDropDownList").val();

        prod['order_by'] = $("#prodorder_by").val();
        prod['is_active'] = $("#is_active").val();
        prod['icon_url'] = $("#IconUrl").val();
        prod['name_desc_en'] = $("#name_desc_en").val();
        prod['name_desc_ar'] = $("#name_desc_ar").val();
        prod['quantity'] = $("#quantity").val();
        prod['unit_price'] = $("#unit_price").val();
        prod['is_custom_size_available'] = iscustomsizeavailable == true ? 'y' : 'n';
        prod['custom_size_img_url'] = $("#custom_size_img_url").val();
        prod['custom_size_description'] = $("#custom_size_description").val();
        prod['custom_size_field1'] = $("#custom_size_field1").val();
        prod['custom_size_field2'] = $("#custom_size_field2").val();
        prod['custom_size_field3'] = $("#custom_size_field3").val();
        prod['custom_size_field4'] = $("#custom_size_field4").val();
        prod['custom_size_field5'] = $("#custom_size_field5").val();
        prod['custom_size_field6'] = $("#custom_size_field6").val();
        prod['custom_size_field7 '] = $("#custom_size_field7").val();
        prod['custom_size_field8 '] = $("#custom_size_field8").val();
        prod['custom_size_field9 '] = $("#custom_size_field9").val();
        prod['custom_size_field10'] = $("#custom_size_field10").val();
        prod['custom_size_description'] = $("#custom_size_description").val();
        prod['is_gift_available'] = isgiftavailable == true ? 'y' : 'n';
        prod['is_surprise_gift_available'] = issurprisegiftavailable == 'true' ? 'y' : 'n';
        prod['size_chart_img_url'] = $("#size_chart_img_url").val();
        prod['age_from'] = $("#agefrom").val();
        prod['age_to'] = $("#ageto").val();




        var asset = {};
        asset['type'] = $("#type").val();
        asset['img_url'] = $("#AssertImageUrl").val();
        asset['is_default'] = isDefault == true ? 'y' : 'n';
        asset['order_by_asset'] = $("#order_by_asset").val();
        var NewAssert = [];
        NewAssert.push(asset);
        prod['asset'] = NewAssert;

        var color = {};
        color['color_name_en'] = $("#color_name_en").val();
        color['color_name_ar'] = $("#color_name_ar").val();
        color['color_code'] = $("#color_code").val();
        color['is_active'] = $("#color_is_active").val();
        color['color_img_url'] = $("#color_img_url").val();
        var NewColor = [];
        NewColor.push(color);
        prod['color'] = NewColor;


        prod.size_name_en = $("#size_name_en").val();
        prod.size_name_ar = $("#size_name_ar").val();
        prod.product_size_id = $("#product_size_id").val();
        prod.stock_count = $("#stock_count").val();
        prod.tag_id = $("#tag_id").val();



        var proddata = JSON.stringify({
            e: prod
        });

        $.ajax({
            async: true,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            url: 'http://localhost:60624/Products/AddProductJson',
            data: proddata,

            processing: true,
            serverSide: true,
            success: function (response) {
                alert("Inserted Successfully");
            }

        })
    });

</script>
